.main{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.calculator {
    width: 320px;
    background-color: #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .display {
    background-color: #000;
    color: white;
    font-size: 20px;
    text-align: right;
    margin-bottom: 20px;
    height: 60px;
  }
  
  .input {
    font-size: 30px;
    color: #fff;
  }
  
  .result {
    padding-top: 10px;
    font-size: 20px;
    color: #999;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    font-size: 18px;
    padding: 14px;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
  
  .operator {
    background-color: #1f1f1f;
  }
  
  .operation {
    font-size: 28px;
  }
  
  button:active {
    background-color: #666;
  }
  
  .zero {
    grid-column: span 2;
  }
  
  .equal {
    background-color: #7C55A0;
    color: white;
    grid-column: span 1;
    font-size: 28px;
  }

  #log {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #log td, #log th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #log tr:nth-child(even){background-color: #f2f2f2;}
  
  #log tr:hover {background-color: #ddd;}
  
  #log th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7C55A0;
    color: white;
  }
  .log-table h2{
    margin-top: 0;
  }

  @media screen and (max-width: 800px) {
    .main{
      display: block;
    }
  }
  