:root {
  --primary-color: #000; 
  --secondary-color: #fff; 
}

html {
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
}
.btn{
  background-color: #7C55A0;
  border-radius: 50px;
  margin: 10px;
  margin-bottom: 0;
}
.home{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed; 
  top: 0; 
  background-color: var(--primary-color); 
  z-index: 1000;
  left: 0;
  right: 0;
}


.nav-link{
  padding: 10px;
  font-size: 18px;
}

.profile{
  display: grid;
  justify-content: center;
}



.profile-row{
  display: flex;
  gap: 40px;
  justify-content:left;
}

.profile-container {
  padding: 20px;
  max-width: 40vw;
  margin: auto;
}

.profile-heading h1 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--secondary-color);
}

.profile-details, .profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.profile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-label {
  font-weight: bold;
}

.profile-value {
  display: flex;
  align-items: center;
}

.color-swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.logo-image {
  max-width: 80px;
  height: auto;
}

.edit-button, .save-button, .cancel-button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  width: 45%;
}

.edit-button:hover, .save-button:hover, .cancel-button:hover {
  background-color: var(--secondary-color);
}

.btn-flex{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.profile-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-group label {
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group input:disabled {
  background-color: #f5f5f5;
}

.color-picker{
width: 60px;
margin: 0;
padding: 2px !important;
height: 30px;
border-radius: 4px !important;
}

.register-container, .signin-container{
  padding: 20px;
  max-width: 40vw;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}


.form-group label {
  font-weight: bold;
}

.form-group input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.register-button, .signin-button  {
  background-color: #000;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto;
}

.register-button:hover  .signin-button:hover  {
  background-color: #1f1e1f;
}

.signin-link, .register-link{
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
}

.signin-link:hover, .register-link {
  text-decoration: underline;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding-bottom: 10px;
}

.form-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pt-5{
  padding-top: 50px;
}







